---
import { Icon } from 'astro-icon/components';
import { SITE } from 'astrowind:config';
import { getHomePermalink } from '~/utils/permalinks';
import Image from '~/components/common/Image.astro';
import logo from '~/assets/images/sdlogo.svg';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { socialLinks = [], secondaryLinks = [], links = [], footNote = '', theme = 'light' } = Astro.props;
---

<footer class:list={[{ dark: theme === 'dark' }, 'relative border-t border-gray-200 dark:border-slate-800 not-prose']}>
  <div
    class="dark:bg-[#192331] absolute inset-0 pointer-events-none"
    aria-hidden="true"
  >
  </div>
  <div class="relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300">
    <div class="flex flex-col gap-4 items-center py-6 md:py-8">
      <div class="text-sm mr-4 dark:text-muted text-center">
        <a href="https://www.servis-design.cz/">
          <Image
            src={logo}
            class="h-6 lg:h-10"
            widths={[95, 197]}
            width={197}
            sizes="(max-width: 1023px) 24px, 40px"
            alt={SITE?.name}
            aspectRatio="4:1"
            loading="lazy"
            decoding="async"
          />
        </a>
      </div>
      <p class="text-sm">
        Vytvořeno <a
          class="text-blue-600 underline dark:text-muted"
          href="https://www.servis-design.cz/"
        >
          servisdesign</a
        > · Všechna práva vyhrazena
      </p>
    </div>
  </div>
</footer>
